#content {
    display: flex;
}

#person {
    background: darkseagreen;
    width: 50vw;
}

#bookList {
    width: 50vw;
    height: 100vh;
    overflow-y: auto;
}

ul {
    /*border: 1px solid green;*/
    list-style: none;
    /*width: 800px;*/
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

li {
    /*border: 1px solid darkseagreen;*/
    /*writing-mode: vertical-lr;*/
    /*text-orientation: upright;*/
    /*width: fit-content;*/
    /*height: 230px;*/
    /*transform: rotate(270deg);*/
    /*transform-origin: top left;*/

    /*writing-mode: vertical-rl;*/
    width: 20vw;
    height: 30px;
    white-space: nowrap;
    overflow-x: auto;
}

#result {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    word-break: break-all;
    font-size: 20px;
}

h3 {
    border: 1px solid;
}

#humanity {
    margin-top: 0;
}